@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-ink text-slate-100 antialiased;
}

/* thin scrollbars for horizontal launchers */
.scroll-thin::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
.scroll-thin::-webkit-scrollbar-thumb {
  background: #2c3448;
  border-radius: 999px;
}
